.cover-box {
    height: 200px;
    width: 110px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #3a3838;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    &__margin{
        margin-bottom: 25px;
        margin-right: 25px;
    }

    &__play{
        position: absolute;
        top: 0;
        margin: auto;
        left: 0;
        right: 0;
        width: 100%;
        height: 93%;
        text-align: center;
        opacity: 0;
        transition: all .35s ease;
        &:hover{
            opacity: 1;
            cursor: pointer;
        }
        &--font{
            font-size: 80px;
            transform: translate(0, 16%);
            color: #d48900;
        }
    }
    &__image .cover-box__play:hover{
        visibility: visible;

    }
    &__link{
        height: 100%;
        text-decoration: none;
    }
    &__image {
        padding-bottom: 5px;
        position: relative;
        & 
       /* &:hover{
            cursor: pointer;
        }*/
        &--src {
            width: 110px;
            height: 110px;
        }
    }

    &__title {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        word-break: break-all;
        -webkit-box-orient: vertical;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        letter-spacing: .24px;
        overflow: hidden;
        color: white;
        padding-bottom: 5px;
    }

    &__artist {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        word-break: break-all;
        -webkit-box-orient: vertical;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: .24px;
        overflow: hidden;
        color: #989898;

    }

    &__row{
        display: flex;
        flex-wrap: wrap;
    }
  
}