.player {

    padding: 15px 50px;
    width: 100%;
    display: inline-flex;

    &--wrap {
        height: 120px;
        width: 100%;
        position: sticky;
        background-color: #282828;
        bottom: 0;
        z-index: 10;
        display: flex;
    }

    &__image {
        align-items: center;

        &--size {
            width: 80px;
            height: 80px;
        }
    }

    &__controls {
        display: block;
        width: 800px;
        text-align: center;
        margin: 0 auto;
        padding: 20px 0;
    }

    &__control-button-position {
        position: relative;
        height: 36px;

    }

    &__control-button {
        display: inline-block;
        font-size: 23px;
        color: #b3b3b3;
        position: absolute;

        &--back {
            left: 25%;
            transform: rotateY(180deg);
        }

        &--next {
            left: 75%;
        }
    }

    &__info {
        display: inline-flex;
        position: absolute;

        &--text-block {
            display: block;
        }
    }

    &__text {
        font-size: 18px;
        padding: 10px 10px 0px;
        color: #b3b3b3;
    }

    &__progress-bar-position {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &__progress-bar {
        background-color: white;
        height: 5px;
        width: 500px;


        &--currenty {
            background-color: black;
            height: inherit;
            width: 39%;
        }


    }

    &__music-time {
        padding: 0 20px;
        color: #b3b3b3;
    }


}