.player {

    padding: 15px 50px;
    width: 100%;
    display: inline-flex;

    &--wrap {
        height: 120px;
        width: 100%;
        position: fixed;
        background-color: #282828;
        bottom: 0;
        z-index: 10;
        display: flex;
    }

    &__image {
        align-items: center;

        &--size {
            width: 80px;
            height: 80px;
        }
    }

    &__controls {
        display: inline-flex;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding: 20px 0;
        position: relative;
    }

    &__control-button-position {
        position: relative;
        height: 75px;
        width: 800px;
        margin: 0 auto;
    }

    &__control-button {
        display: inline-block;
        font-size: 23px;
        color: #b3b3b3;
        position: absolute;

        &:hover {
            cursor: pointer;
            color: orange;
        }

        &--back {
            left: 25%;
            transform: rotateY(180deg);
        }

        &--next {
            left: 75%;
        }
    }

    &__info {
        display: inline-flex;
        position: relative;

        &--text-block {
            display: block;
        }
    }

    &__text {
        font-size: 18px;
        padding: 10px 10px 0px;
        color: #b3b3b3;
    }

    &__progress-bar-position {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 40px;
        position: relative;
    }

    &__progress-bar {
        background-color: white;
        height: 5px;
        width: 500px;
        border-radius: 5px;

        &--volume {
            height: 3px;
            width: 120px;
        }
    }

    &__progress-knob {
        position: relative;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background-color: white;
        top: -6px;
        transition-duration: 0.02s;

        &--volume {
            height: 12px;
            width: 12px;
            top: -4px;

        }
    }

    &__music-time {
        padding: 0 20px;
        color: #b3b3b3;
    }

    &__volume {
        position: relative;
        right: 7%;
        display: inline-flex;
        top: 30px;
    }

    &__ico {
        color: #b3b3b3;
        position: relative;
        padding-right: 15px;
        font-size: 22px;
        top: -10px;
        color: #b3b3b3;

        &:hover {
            cursor: pointer;
            color: orange;
        }
    }

    &__favorit {
        font-size: 25px;
        color: #fff;
        left: 10%;
        top: 9px;
        position: relative;
        &:hover{
            color: orange;
            cursor: pointer;
        }
    }
}